html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'matejournal';
  src: url('mate_journal/mate_journal.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'matejournal';
  src: url('mate_journal/mate_journal.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

nav {
  font-family: 'matejournal',
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'matejournal', cursive;
}
p {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400; /* or 300, 500, 700, etc. */
  font-style: normal;
}

.book-img {
  aspect-ratio: 2/3;
  object-fit: cover;
  border-radius: 0.5rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}

.wiggle-hover:hover {
  animation: wiggle 0.5s ease-in-out infinite;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-5deg); }
  50% { transform: rotate(5deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.modal { animation: fadeIn 0.3s ease; }

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@media (max-width:600px;){
.logo {width:80%;}

}